<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#">Personajes</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="personajes?order=nombre">Por nombre</a></li>
                        <li><a href="personajes?order=peso">Por Peso</a></li>
                        <li><a href="personajes?order=altura">Por Estatura</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="buscar">Personaje</a></li>
        </ul>
    </div>
</nav>