<div class="uk-padding">
    <h1 class="uk-heading-hero">StarWars Api</h1>
</div>
<div class="uk-padding">
    <div class="uk-width-1-2@s uk-width-2-5@m">
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li class="uk-active"><a href="buscar">Buscar Personaje</a></li>
            <li class="uk-parent">
                <a href="#">Personajes</a>
                <ul class="uk-nav-sub">
                    <li><a href="personajes?order=nombre">Por nombre</a></li>
                    <li><a href="personajes?order=peso">Por peso</a></li>
                    <li><a href="personajes?order=altura">Por altura</a></li>
                </ul>
            </li>
            <li class="uk-active"><a href="residentes">Residentes</a></li>
        </ul>
    </div>
</div>
